html {
	min-height: 100%
}

body {
	margin: 0;
	background-image: linear-gradient(#034C7A, #58B28D);
	background-image: linear-gradient(#08C, #782C2C);
	background-image: linear-gradient(#08C, #505050);
	background-image: linear-gradient(#08C, #2A444A);
	background-image: linear-gradient(#2E4B5A, #2A444A);
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 1.42857143;
}

header {
	position: relative;
	background-color: #262626;
	border-top: 4px solid #2E4B5A;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

::selection {
	color: #333;
    background: #B74545;
}

::-moz-selection {
	color: #333;
    background: #B74545;
}

li {
	margin-bottom: 5px;
}

a {
	color: #B74545;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

/* a:visited {
	color: #8300CC;
}*/

h1 {
	font-weight: 500;
	font-size: 30px;
	letter-spacing: 0.5px;
	/* only needed for background: */
	background-color: #262626;
	color: #787878;
	color: #B74545;
	margin: -10px -20px 18px;
	padding: 20px;
}

h2, h3, h4 {
	margin-bottom: 10px;
}

h2 {
	border-bottom: 1px solid #D5D5D5;
	border-bottom: 1px solid #B0B0B0;
	font-size: 36px;
	font-weight: 500;
	margin: 0 0 10px 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

h3 {
	font-size: 24px;
	font-weight: 500;
}

h4 {
	font-size: 20px;
	font-weight: 300;
}

.subheading {
	color: #B0B0B0;
	font-size: 14px;
	letter-spacing: initial;
	font-style: italic;
}

th {
	font-size: 18px;
	text-decoration: underline;
}

table {
	font-size: 13px;
	margin: 0 auto;
}

nav {
	height: 100px;
	margin: 0 auto;
	font-family: "Oswald", sans-serif;
	font-size: 19px;
	text-align: center;
}

nav > ul {
	float: right; /* only needed for right float, see http://stackoverflow.com/questions/20920265/horizontal-menu-how-to-float-right-but-keep-the-menu-items-in-the-correct-order */
	margin: 0 auto; /* "auto" needed for smaller reso */
}

nav > ul > li {
	list-style: none;
	float: left;
	margin-bottom: 0;
}

nav > ul > li > a {
	display: block;
	height: 70px;
	padding: 30px 15px 0;
}

nav > ul > li > a:hover, nav > ul > li > #current {
	background-image: linear-gradient(#08C, #2A444A);
	background-image: linear-gradient(#2E4B5A, #2A444A);
	box-shadow: 5px 0 3px -3px rgba(0, 0, 0, 0.4), -5px 0 3px -3px rgba(0, 0, 0, 0.4); /* Optional */
	/*margin-bottom: -8px;  needed because of border-button interference with <main> */
	color: #B0B0B0;
	text-decoration: none;
	position: relative; /* needed for z-index */
}

nav > ul > li > a:focus {
	color: #B0B0B0;
	text-decoration: none;
}

 nav > ul > li > #current {
	z-index: 1;
}


/* Enter: Logo fade-in from http://css-tricks.com/fade-image-within-sprite/ */

#logo {
	display: inline-block; /* needed! */
	position: relative;
	text-indent: -9999px;
	width: 244px;
	height: 80px;
	background: url(../images/logo.png) no-repeat;
	margin-top: 10px;
}

#logo:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background: url(../images/logo.png) -244px 0 no-repeat;
	opacity: 0;
	transition: opacity 0.4s;
}

#logo:hover:after, #logo:focus:after {
	opacity: 1;
}

/* End: Logo fade-in */

main {
	margin: 30px auto 0;
	padding: 10px 20px 10px;
	background-color: #F4F4F4;
	background-color: #F0F0F0;
	background-color: #E0E0E0;
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);
	display: block; /* only for backwards compatibility, e.g. IE and Opera legacy */
}

footer {
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
	color: #B0B0B0;
}



@media (min-width: 980px){
	nav {max-width: 980px;}
	#logo {float: left;}
	main {max-width: 980px;} /* + 40px padding */
}

@media screen and (max-width: 980px) {
	nav {max-width: 980px; height: 180px;}
	nav > ul {width: 700px;}
	/*nav > ul {padding-top: 10px; padding-left: 10px; width: 680px;}*/
	#logo {float: none;}
	main {max-width: 940px;} /* + 40px padding */
	nav > ul > li > a {display:block; height: 60px;	padding: 30px 15px 0;}
	nav > ul > li > a:hover, nav > ul > li > #current {background-image: none; box-shadow: none;}
}

@media screen and (max-width: 680px) {
	nav > ul > li {display: block;}
	nav {height: 180px;}
	nav > ul {padding-left: 10px; max-width: 680px; width: 100%;}
	main {max-width: 640px;} /* + 40px padding */
	header,footer{max-width: 680px;}
	nav > ul > li:hover {border-bottom: 0; margin-bottom: auto;}
}

@media screen and (max-width: 355px) {
	nav {height: 450px;} /* instead of 200px */
	nav > ul {padding-left: 0; text-align: center;}
	nav > ul > li {
		float: none; margin-right: 0;
		background-image: linear-gradient(top, #1E1D21 0%, #0F0F0E 100%);
		background-image: -o-linear-gradient(top, #1E1D21 0%, #0F0F0E 100%);
		background-image: -moz-linear-gradient(top, #1E1D21 0%, #0F0F0E 100%);
		background-image: -webkit-linear-gradient(top, #1E1D21 0%, #0F0F0E 100%);
		background-image: -ms-linear-gradient(top, #1E1D21 0%, #0F0F0E 100%);
	}
	nav > ul > li > a {vertical-align: middle;}
}

.box {
	border: 1px solid #D5D5D5;
	border: 1px solid #B0B0B0;
	width: 300px;
	padding: 0 10px 0;
}

hr {
	border: 0;
	height: 1px;
	background: #D5D5D5;
}
fieldset {
	border: 0 solid #D5D5D5;
	margin-bottom: 20px;
}

input, textarea {
	margin-right: 10px;
	padding: 10px;
	border: 1px solid #D5D5D5;
}

input:hover, input:focus, textarea:hover, textarea:focus {
	box-shadow: rgba(0,0,0,0.1) 0 0 8px;
}
